.swiper {
  padding: 32px;
}

.swiperSlide {
  display: flex;
  justify-content: center;
}

.swiperPaginationBulletActive {
  background-color: #718096;
}

.swiperButtonPrev {
  color: #718096;
}

.swiperButtonNext {
  color: #718096;
}